baby-README.md~
nigel-changelog.txt~
REDUCTION/__pycache__/feature_extractor.cpython-313.pyc
REDUCTION/__pycache__/reduction_model.cpython-313.pyc
REDUCTION/__pycache__/reduction_model.cpython-39.pyc
